* {
  font-family: sans-serif;
}
h2 {
  font-style: normal;
  color: grey;
}
form {
  padding-top: 2em;
  padding-bottom: 1em;
}
table {
  text-align: left;
  border-collapse: collapse;
}
tbody {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
th, td {
  padding-right: 2em;
}
a {
  color: teal;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.error {
  color: #721c24;
}